@{
    ViewData["Title"] = "Home Page";
}
<h1><strong>DigiTEK17 Kapittel 11 Sikkerhet ved brann API</strong></h1>
<p><strong><a href="https://digitek-api-dev.azurewebsites.net/swagger/index.html">https://digitek-api-dev.azurewebsites.net/swagger/index.html</a>&nbsp;</strong></p>
